
<div class="list banner shadow-lg p-3 mb-3 bg-body-tertiary rounded">
  <h2 class="shadow rounded fs-1 fw-bold"><%= @list.name %></h2>
</div>
  <%= link_to "Add movie",new_list_bookmark_path(@list), class:"btn btn-outline-primary text end" %>
<div class="container d-flex">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card rounded text-center show1 my-5 mx-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem; height: 15rem; position: relative;">
      <%= bookmark.movie.title %>
      <div style="position: absolute; bottom: 5px; right: 5px;">
        <%= link_to "Remove", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none  text-danger" %>
      </div>
    </div>
  <% end %>
</div>
<%= cl_image_tag("https://res.cloudinary.com/dhbrz1unb/image/upload/v1685809353/c0awsezia925ddu5sfwa.jpggit ",
      width: 400, height: 300, crop: :fill) %>
